img {
  width: 100px;
}

.zodiac-sign {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  padding: 60px;
  background-color: rgba(250, 235, 215, 0.147);
  justify-content: center;
}

.name {
  color: white;
}
