footer {
  display: flex;
  justify-content: flex-end;
  color: azure;
  background-color: rgb(38, 38, 38);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  border-top: 1px solid gray;
}
